* {
  box-sizing: border-box;  
}
.head {
    text-align: center;
    background-color: #aaa;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.navigation {
    float: left;
    text-align: center;
    background-color: #bbb;
    width: 20%;
}
.navigation a {
    display: block;
}
.main {
    float: left;
    text-align: center;
    background-color: #ccc;
    width: 60%;
}
.right {
    float: left;
    text-align: center;
    background-color: #ddd;
    width: 20%;
}