body {
    background-color: #5c5252e8;
}
h1 {
    color: rgb(11, 12, 11);
}
.menu {
    float: left;
    width: 20%;
    text-align: center;
}
.menu a {
background-color: #e6e6e6;
padding: 8px;
margin-top: 7px;
display: block;
width: 100%;
color: black;
}
.main {
    float: left;
    width: 60%
    padding: 0 20px;
    overflow: auto;
    border: 2px solid powderblue;
    padding: 10px;
}
.right {
    background-color: rgb(210, 210, 240);
    float: right;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}